nav.navbar {
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  z-index: 999;
  transition: 300ms ease-in-out;
  background-color: #fff;
}

nav.navbar.scrolled {
  background-color: #246a45;
}

nav.navbar a.navbar-brand {
  margin-bottom: .5rem;
  margin-left: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  transition: 300ms ease-in-out;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  color: #246a45;
  font-weight: 400;

  padding: 1rem;
  font-size: 1.25rem;
  opacity: 1;
}

nav.navbar.scrolled .navbar-nav .nav-link.navbar-link {
  color: #fff;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 0.75;
}

/*LETS CONNECT BUTTON*/
.navbar-connect {
  margin-right: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  font-size: 1rem;
  background-color: #a7ffc4;
  transition: 0.300ms ease-in-out;
  z-index: 1;
  scroll-behavior: smooth;
}

.navbar-connect:hover {
  color: #246a45;
}


@media (min-width: 470px) {

   


}
