.project {
  padding: 50px 0 100px;
  position: relative;
  background: #f0f0f0;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: rgb(188, 188, 188);
}

.project p {
  color: #246a45;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 52%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  background-color: #9b9b9b;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #59c173 0%, #246a45 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

/* PROJECT CARDS */
.card {

  width: 100%;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 20rem;
  object-fit: cover;
}

.card-title {
  font-size: 3.5rem!important;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #246a45;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  width: 20rem!important;
}

.btn {
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(-0.1rem);
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-success:hover {
  background-color: #246a45;
  border-color: #246a45;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.card-links {
  display: flex;
  justify-content: center;
}

.card-links a {
  margin: 0 0.5rem;
}




/*center the elements in the tab content*/


@media (max-width: 1080px) {
 .project .nav.nav-pills {
    width: 100%;
  } 

}

@media (min-width: 1081px){
  
  
  .card-text {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    width: 35rem!important;
  }
  
}

