/*PROJECTS TABBED NAVIGATION*/

.project {
  padding: 50px 0 100px;
  position: relative;
  background: #f0f0f0;
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #246a45;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 52%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

@media (max-width: 800px) {
  .proj-imgbx {
    position: relative;
    width: calc(100% - (2 * var(--padding)));
    padding-top: calc(100% * (9 / 16));
    left: 2rem;
  }

  .proj-txtx {
    line-height: 1rem;
    top: 50%;
    border-radius: 25px;
  }

  .proj-txtx h3 {
    margin-top: -0.75rem;
    font-size: 1.2rem;
  }

  .proj-txtx span {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .project .nav.nav-pills {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .project
    div.container
    div.row
    div.col
    div.tab-content
    div.proj-imgbx
    div.proj-txtx
    div
    a.code-link
    svg {
    font-size: 1rem;
  }

  #projects-tabs-tabpane-third
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(2) {
    margin-top: -0.9rem;
  }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 480px) {
  .proj-imgbx {
    width: 115% !important;
    height: 120% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .project div.container div.row div.col div.tab-content {
    padding-right: 2rem;
    box-sizing: border-box;
  }

  .project div.container div.row div.col div.tab-content .proj-txtx h3 {
    font-size: 1.5rem;
  }

  .project div.container div.row div.col div.tab-content .proj-txtx span {
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.8px;
    margin-bottom: 1rem !important;
  }

  .project
    div.container
    div.row
    div.col
    div.tab-content
    div.proj-imgbx
    div.proj-txtx
    div
    a.code-link
    svg {
    font-size: 1rem;
  }

  #projects-tabs-tabpane-third
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(1)
    > div:nth-child(2) {
    margin-top: -0.9rem;
  }
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: #9b9b9b;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #59c173 0%, #246a45 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

/*PROJECT CARDS*/

.proj-imgbx {
  position: relative;
  width: 90%;
  height: 0.01px;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  border-radius: 25px;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.proj-imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 25px;
}

.proj-imgbx::before {
  content: '';
  background: linear-gradient(90.21deg, #59c173 0%, #246a45 111.58%);
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 0.01px;
  object-fit: cover;
  border-radius: 25px;
  transition: height 0.4s ease-in-out;
  z-index: 0;
}

.proj-imgbx:hover::before {
  width: 80%;
  height: 80%;
  z-index: 1;
}

.proj-txtx {
  position: absolute;
  padding: 0 1rem 0.5rem 1rem;
  text-align: center;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in-out;
  opacity: 0;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 25px;
  z-index: 2;
  top: calc(50% + 1rem);
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
  border-radius: 25px;
}

.proj-txtx h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.4px;
  line-height: 1.1em;
}

.project
  div.container
  div.row
  div.col
  div.tab-content
  div.proj-imgbx
  div.proj-txtx
  div
  a.code-link {
  display: inline-block;
  margin-top: 0.7rem;
  font-size: 1.5rem;
}
