.mySwiper {
  height: 450px; 
}

.swiper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 4px #246a45;
}

.logo-highlighted {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Adjusting swiper-slide size for mobile screens */
@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 200px;
    height: 300px;
  }
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-bx {
  text-align: center;
}

.skill h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #246a45;
}

.skill p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #246a45;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 2rem 0 auto 0;
}

/* Styles for SkillSlide component */
.skill-slide .company-logos img {
  margin: 0 10px; /* Adjust spacing between logos */
}

.skill-slide .contributions {
  margin-top: 20px; /* Space above contributions list */
}

.skill-slide .tool-icons img {
  margin: 0 5px; /* Adjust spacing between tool icons */
}

/* Adjusting swiper-slide to full width on mobile screens */
@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 100%;
    height: auto; /* Adjust height to maintain aspect ratio */
  }
}

