.swiper {
  padding-top: 50px;
  padding-bottom: 50px;
}

div .swiper-slide {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #246a45;
}


.skill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-bx {
  text-align: center;
}

.skill h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #246a45;
}

.skill p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #246a45;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 2rem 0 auto 0;
}

/*SKILLS ANIMATION*/
/*SKILLS ANIMATION*/
/*SKILLS ANIMATION*/

.progress-container {
  width: min-content;
  display: grid;
  text-align: center;
}

.circular-progress {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: '';
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 400;
  color: #246a45;
}

div .text {
  font-size: 20px;
  font-weight: 500;
  color: #246a45;
  object-position:center;
}


/*SKILLS ANIMATION*/
/*SKILLS ANIMATION*/
/*SKILLS ANIMATION*/
