
.testimonials-container {
  font-family: "Phudu", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.testimonial-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}


.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  background-color: #dfe9d7;
  width: 40rem;
}

.testimonial-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.testimonial-img {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center; 
}

.testimonial-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}



.testimonial-text {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
  margin: 0;
}

.testimonial-author {
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #448a5d;
  margin: 15px 0 5px;
}

.testimonial-position {
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  color: #64ac76;
  margin: 0;
}

#root > div > div.container > section > div > div > div > ul > li:nth-child(4) > div > div {
  margin-top: 4rem;
}
#root > div > div.container > section > div > div > div > ul > li:nth-child(2) > div > div {
  margin-top: 4rem;
}

@media screen and (max-width: 464px) {
  .testimonial {
  flex-direction: column;
  padding: 1rem;
  margin: 0 1rem;
  max-width: 22rem;
  border-radius: 20px;
  overflow: hidden;
  }
  
  .testimonial-text {
  font-size: 1rem;
  margin-bottom: -1rem;
  }
  
  .testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
  }
  
  .custom-carousel {
  margin-top: 1rem;
  }
  }