@import url('Navbar.css');
@import url('Banner.css');
@import url('Carousel.css');
@import url('Projects.css');
@import url('Skills.css');
@import url('Contact.css');
@import url('Footer.css');

/*custom fonts*/

@font-face {
  font-family: Phudu;
  src: url('./assets/font/Phudu-Black.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Phudu;
  src: url('./assets/font/Phudu-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Phudu;
  src: url('./assets/font/Phudu-Light.ttf');
  font-weight: 300;
}

/*global styles*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  overflow-x: hidden;
  position: relative;
  color: #fff !important;
  font-family: Phudu, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/*credit to judygab @github for the css below with personal modifications made for style*/

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/*ABOUT*/
/*ABOUT*/
/*ABOUT*/
.about {
  z-index: 1;
}

.about img {
  width: 105%;
  margin: 0 auto -0.5rem auto;
  overflow: hidden;
}

.about .about-bx {
  /*gradient between two colors from to bottom*/
  background: linear-gradient(#246a45 0%, #599e75 100%);
  margin: 0 auto;
  background-color: #246a45;
  padding: 50px 200px;
  font-size: 2rem;
  font-weight: 300;
}

.about-bx h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-top: -5rem;
  text-align: center;
}

.about-bx p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.8px;
  text-align: center;

  
}

/* Mobile Media queries */
@media (max-width: 768px) {
  .about .about-bx {
    padding: 5rem 2rem;
  }
}