.slick-slide {
  padding-bottom: 1rem;
} 

.slick-slide div{
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.slick-slide div .top {
  padding-top: 1.1rem; ;
  width: 150%;
}

.slick-slide div .bottom {
  width: 70%;
}


@media (max-width: 768px) {
.slick-slide div{
  width: 50%;
  height: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

}