
.contact-form {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 5px 5px 5px;
  
}



.contact-form label {
  display: block;
  margin-bottom: 10px;
  color: #246a45;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #333;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  /*align content to the right*/
  float: right;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #246a45;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #1a4e32;
}

.contact-form button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-together {
  color:#246a45;
  padding: 20px;
  height: 50vh;
}

.work-together img{
  scroll-behavior: smooth;
  animation: wobble; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.modal-header {
  background-color: #246a45;
  color: white;
}

.modal-footer {
  background-color: #246a45;
}

.modal-svg {
  height: 50%;

  /* Add your animation styles here */
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}